<style>
h1 {
   color: green (211, 92, 22);
   font-style:italic;
}

p {
   color:rgb(223, 53, 53);
   /*font-style: italic;*/
   font-size: 1.5em;
}
</style>

*{
   box-sizing: border-box;
   margin: 0;
   padding: ;
}